
nav{
  background-color: rgb(0, 217, 255);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  
}

a{
  margin: 1rem;
  text-decoration: none;
}
img{
  width: 300px;
  height: 300px;
}
.btnProductos{
  display: inline-block;
  border: none ;
  border-radius: 5cm;
  background-color: rgba(255, 255, 255, 0);
  
}
.btnProductos:hover{
  background-color: rgba(134, 134, 134, 0.24)
}

.btnAgregar{
  margin: 1rem;
  background-color: rgba(0, 217, 255, 0.753);
  border: none;
  border-radius: 5cm;
}

.btnAgregar:hover{
  background-color:rgba(0, 217, 255, 0.452) ;
}

.contadorProductos{
  display: inline-block;
  margin: 1rem;
}

.contenedores{
  width: 25%;
}
.btnDetalle{
  background-color: rgb(255, 255, 255);
  
}

.btnDetalle:hover{
  background-color:rgba(0, 217, 255, 0.452) ;
}
.productos{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 3rem;
  margin: 1rem;
  justify-content: space-evenly;
}

.detalle{
  margin: 1rem;
  display: grid;
  grid-template-areas: "img lista"
              ". contador";
}

.detalle ul{
  grid-area: lista;
  list-style: none;
}

.detalle img{
  grid-area: img;
}

.contadorProductos{
  grid-area: contador;
}

.eliminarTodo{
  display: inline-block;
}
.productosCarrito{
  display: block;
  margin: 2rem;
}

.totalPrice{
  display: inline-block;
  border:  solid black 3px;
  right: 0;
}