
nav{
  background-color: rgb(0, 217, 255);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  
}

a{
  margin: 1rem;
}

.btnProductos{
  display: inline-block;
  border: none ;
  border-radius: 5cm;
  background-color: rgba(255, 255, 255, 0);
  
}
.btnProductos:hover{
  background-color: rgba(134, 134, 134, 0.24)
}

.btnAgregar{
  margin: 1rem;
  background-color: rgba(0, 217, 255, 0.753);
  border: none;
  border-radius: 5cm;
}

.btnAgregar:hover{
  background-color:rgba(0, 217, 255, 0.452) ;
}

.contadorProductos{
  display: inline-block;
  margin: 1rem;
}

.productos{
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
}